.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: white;
    border-radius: 12px;
    width: 70%;
    height: 550px;
    margin: auto;
    border-radius: 12px;
}

.head{
    font-size: 24px;
}

.courseTable{
    width: 100%;
    height: 520px;
    overflow-y: auto;
}

.course-name{
    display: none;
}

@media screen and (max-width: 640px) {  
    .head{
        text-align: center;
    }
    .courseTable table > thead{
        display: none;
    }

    .course-name{
        display: block;
    }
}