.card {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5  ;
}

.card:hover{
  cursor: pointer;
  background: #F5F5F5;
}

.card > td:nth-child(2),
.card > td:nth-child(3),
.card > td:nth-child(4){
  text-align: center;
}

.card > td:nth-child(1){
  width: 50%;

  .tcell-wrap{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5%;

    img{
      width: 45px;
      height: 45px;
    }
  }
}

.card > td:nth-child(2){
  width: 10%;
}
.card > td:nth-child(3){
  width: 30%;
}
  
button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background: linear-gradient(to right, #21D4FD, #2152FF);
  color: white;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
  
.card td > button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #42FF00, #088500);
  color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}
  
button:hover::before {
  transform: scaleX(2);
  transform-origin: bottom left;
}
  
button:hover {
  border-color: white;
}
  
.infoContent {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .content > img{
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .card > td:nth-child(1),.card > td:nth-child(2){
    display: none;
  }
  .card > td:nth-child(3){
    width: 100%;
  }
}