.container {
    position: relative;
    width: 80%;
    height: 1rem;
    margin: auto;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden; /* เพื่อให้ animation ไม่ล้นออกนอก container */
}

.process {
    position: absolute;
    left: 0;
    top: 0;
    background: #42FF00;
    height: 1rem;
    border-radius: 15px;
    transition: width 0.5s ease-out; /* เพิ่ม transition สำหรับการเปลี่ยนแปลง width */
}

.container > label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000;
}

.loading {
    background: linear-gradient(90deg, #42FF00 25%, #2ecc71 50%, #42FF00 75%);
    background-size: 200% 100%;
    animation: loadingAnimation 1.5s infinite linear;
}

@keyframes loadingAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}