.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 410px;
}

.container p,
.container label,
.container a{
    color: white;
}

.heading{
    display: flex;

}
.heading > img{
    position: absolute;
    left: 5%;
}
.heading > img:hover{
    cursor: pointer;
}
.heading > p{
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputContent{
    width: 80%;
}
.inputContent > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 66px;
    margin-bottom: 5%;
}
.inputContent div > input{
    height: 100%;
    border-radius: 6px;
    box-shadow: inset gray 0px 2px 5px;
}
.status > input[type="submit"]:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}
.status > input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background:  linear-gradient(to right, #21D4FD , #2152FF);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
}
.status > p{
    font-size: 16px;
    font-weight: 300;
}
.functions{
    display: flex;
    align-items: center;
}

.functions > a{
    opacity: 0.5;
    font-size: 12px;
    text-decoration: none; 
    position: relative;
}
.functions > a:hover {
    opacity: 1;
}

/* functions Link hover animation */
.functions > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: white; 
    transition: width 0.3s ease-in-out; /* Smooth animation for width */
}
.functions > a:hover::after {
    width: 100%; 
}
/* functions Link hover animation */

.functions > div{
    width: 2px;
    height: 20px;
    background: white;
    margin: 0px 10px;
}