.container {
    width: 60%;
    margin: 3rem auto;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 1.4rem;
}

.head {
    width: 100%;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.headWrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headWrap img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.headWrap p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.content {
    width: 100%;
    padding: 1.5rem 0; 
}

.content table {
    width: 100%;
    border-collapse: collapse;
}

.content table thead tr > th {
    text-align: start;
    border-bottom: 2px solid #e7e7e7; 
}

.content table thead tr > th:nth-child(2) {
    text-align: right;
}

.content table thead tr > th p {
    color: #979797;
    font-size: 18px; 
    font-weight: 600; 
}

.content table tbody tr {
    border-bottom: 1px solid #e7e7e7; 
}

.content table tbody tr:hover {
    background-color: #f9f9f9; 
}

.testSection {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .head{
        flex-direction: column;
        gap: 1rem;
    }
    
    .headWrap{
        justify-content: center;
    }

    .testSection {
        width: 100%;
    }
}
