.content {
    border-top: 1px solid #f5f5f5;
}

.content > td:nth-child(2),
.content > td:nth-child(3) {
    text-align: center;
}

.content td:nth-child(1) > p {
    margin: 0;
    padding: 0;
    font-size: 18px; 
    font-weight: 500; 
    color: #333;
}

.content button {
    background: linear-gradient(to right, #21d4fd, #2152ff);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500; 
    transition: background-color 0.3s ease;
}

.content button:hover {
    background: linear-gradient(to right, #2152ff, #21d4fd); 
}

.content p {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    color: #4caf50; 
    font-weight: 500; 
}