.CourseBoard{
    height: 80%;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.body{
    width: 100%;
    margin: 16px auto;
    padding: 20px;
    border-radius: 10px;
}

.body > table{
    width: 100%;
    padding: 20px;;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.body table tbody > tr:hover{
    opacity: 0.5;
    cursor: pointer;
}

.body table tbody tr > td:nth-child(1){
    display: flex;
    align-items: center;
    gap: 20px;

    img{
        border-radius: 8px;
    }
}

.body table tbody tr > td:nth-child(2){
    width: 40%;
    p{
        display: none;
        margin: 0;
        font-weight: bold;
    }
}

@media screen and (max-width: 640px) {
    .body table tbody tr > td:nth-child(1){
        display: none;
    }

    .body table tbody tr > td:nth-child(2){
        width: 100%;

        p{
            display: block;
            margin-bottom: 20px;
        }
    }
}