.pageWrapper {
  display: flex;
  flex-direction: column;
}
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}
  
.container-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  min-height: calc(100vh - 64px);
}
  
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
  
.content > p {
  margin: 0;
  font-family: 'Kdam Thmor', sans-serif;
  color: black;
}
  
.login-wrap {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  
/* Tablet responsive */
@media screen and (max-width: 1024px) {
  .container-wrap {
    flex-direction: column;
    height: auto;
  }
  
  .content {
    width: 100%;
  }
  
  .login-wrap {
    display: none;
  }
  
  .login-nav {
    display: block;
  }
  
  .login-tablet {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
  
  