.container > h2{
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.questionBox{
    background: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.question{
    width: 80%;
    margin: auto;

    form{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        input[type="text"]{
            background: #E7E7E7;
            height: 25px;
            width: 80%;
            border-radius: 10px;
            box-shadow: inset gray 0px 2px 5px;
            transition: background 0.3s ease;
        }
        .focusInput{
            background: white !important;
        }

        input[type="submit"], button{
            display: flex;
            justify-content: center;
            padding: 10px 20px;
            border: none;
            border-radius: 40px;
            background:  linear-gradient(to right, #21D4FD , #2152FF);
        }
        input[type="submit"]:hover{
            cursor: pointer;
        }
    }
}

.form-wrapper{
    display: flex;
}

.next-button {
    position: absolute; /* ใช้ absolute positioning */
    bottom: 1rem; /* ระยะห่างจากด้านล่าง */
    right: 1rem; /* ระยะห่างจากด้านขวา */
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #21d4fd, #2152ff);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}