.navWrap{
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: auto;
}

.logoContainer, .functionsContainer, .userAuth{
    display: flex;
    align-items: center;
}

.logoContainer > img, .logo-mobile > img {
    width: 52px;
    height: 52px;
}
.logoContainer > p, .logo-mobile > p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    margin: 0;
}
.logoContainer:hover, .logo-mobile:hover{
    cursor: pointer;
}

.functionsContainer{
    display: flex;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    a{
        color: black;
        text-decoration: none;
    }
}

.functionsContainer-mobile{
    display: none;
}
.functionsContainer-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding-top: 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
  
.functionsContainer-mobile > div {
    height: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(160, 159, 159, 0.521);
}
  
.showSidebar {
    transform: translateX(0%);
}

.userAuth{
    height: 100%;
    display: flex;
    position: relative;
}

.userInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 20px;
            margin: 0;
        }
    }
    img:hover{
        cursor: pointer;
    }
}

.functions {
    position: absolute;
    top: 100%;
    right: 0%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: .625rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}  
.functions > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.functions ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .323rem;
}
  
.functions ul > li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.logo-mobile{
    display: none;
}

/* mobile screen */
@media screen and (max-width: 640px) {
    .logoContainer{
        display: none;
    }

    .logo-mobile{
        display: flex;
        align-items: center;
    }

    .functionsContainer{
        display: none;
    }

    .functionsContainer-mobile{
        display: flex;
        align-items: center;
    }
}