.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading{
    display: flex;

}
.heading > img{
    position: absolute;
    left: 5%;
}
.heading > p{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputContent{
    width: 80%;
}
.inputContent > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}
.inputContent div > input{
    height: 100%;
}
.status > input[type="submit"]:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}
.status > input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    background: #3D6CB4;
    color: white;
}
.status > p{
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.functions{
    display: flex;
    align-items: center;
}
.functions > a{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.functions > div{
    width: 2px;
    height: 20px;
    background: black;
    margin: 0px 10px;
}