.pageWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    height: auto;
    border-radius: 12px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
}