.container{
    width: 90%;
    margin: 3rem auto;
}

@media screen and (max-width: 899px) {
    .navsubject-wrap{
        display: none;
    }

    .content-wrap{
        width: 100%;
        margin: auto;
    }
    
}