.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav{
    z-index: 1;
}

.content {
    flex: 1;
    background: linear-gradient(180deg, #ffffff 0%, #C4DAFC 50%, #E6F4FD 75%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
